---
import '../styles/main.css';

const pubDate = '21 Dec 2023';
const desc =
  'These languages are the backbone of every website, defining structure, content, and presentation.';
const author = 'Greg Hooper';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog Preview Card</title>
  </head>
  <body>
    <main
      class="card | flex flex-col bg-light p-lg radius-sm box-shadow border"
      style="max-width: 40ch; --gap: 1.25rem">
      <img class="radius-xs" src="/images/illustration-article.svg" alt="" />
      <div class="flex flex-col" style="--gap: .75rem">
        <p class="tag | fw-bold bg-accent">Learning</p>
        <p class="">Published {pubDate}</p>
      </div>
      <a href="#"><h3 class="fw-bold fs-h3">HTML & CSS foundations</h3></a>
      <p class="text-neutral">{desc}</p>
      <div class="flex center-item">
        <img class="avatar" src="/images/image-avatar.webp" alt="" />
        <p class="fw-bold">{author}</p>
      </div>
    </main>
  </body>
</html>

<style>
  html {
    background: hsl(var(--clr-accent));
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .avatar {
    width: 2.5em;
    aspect-ratio: 1;
  }

  a {
    text-decoration: none;
    transition: color 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  a:hover,
  a:focus {
    color: hsl(var(--clr-accent));
  }

  .tag {
    max-width: max-content;
    padding: 0.5em 1em;
    border-radius: 0.25rem;
    line-height: 1;
  }
</style>
